.header-nav-peer-index-wrap {
  display: flex;
  gap: 1.6rem;
  width: 100%;
  flex: 1;
  padding: 1rem;
  padding-left: unset;
  padding-right: unset;

  //   @media only screen and (max-width: 42em) {
  //    background-color: red;
  //   }

  & > * {
    background-color: #fff;
    border-radius: 1.2rem;
    padding: 1.2rem;
  }

  .connection-wrap-box {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    min-width: 28rem;

    @media only screen and (max-width: 42em) {
      display: none;
    }

    .toggle-text-box {
      display: flex;
      align-items: center;

      .toggle-peer {
        transform: scale(0.65);
        // display: none;
      }

      .text {
        font-size: 1.2rem;
        text-wrap: nowrap;
        color: #a9adb2;
      }
    }
  }

  .profile-wrap-box {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 2rem;

    @media only screen and (max-width: 42em) {
      background-color: transparent;
      padding: unset;
    }

    .profile-wrap {
      display: flex;
      align-items: center;
      gap: 0.6rem;

      .avatar-box {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: #d9d9d9;
      }

      .name-des-box {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        .name {
          font-size: 1.5rem;
          font-weight: 500;
        }

        .des {
          color: #a9adb2;
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }

    .peer-following-create-box {
      width: max-content;
      display: flex;
      flex-direction: column;
      gap: 0.6rem;

      @media only screen and (max-width: 42em) {
        display: none;
      }

      .btn {
        padding: 1rem;
        width: 100%;
        border-radius: 1.2rem;
      }

      .peer-follow-box {
        display: flex;
        align-items: center;
        gap: 1rem;

        .label-value {
          display: flex;
          align-items: center;
          color: #9e9fa3;
          font-size: 1.2rem;
          text-wrap: nowrap;
          gap: 0.4rem;

          span {
            color: #022020;
            font-weight: 500;
          }
        }
      }
    }
  }
}
