.overview-peer-index-wrap-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: calc(100vh - 12rem);
  overflow-y: scroll;
}
@media only screen and (max-width: 75em) {
  .overview-peer-index-wrap-box {
    flex: unset;
    height: -moz-max-content;
    height: max-content;
  }
}
.overview-peer-index-wrap-box::-webkit-scrollbar {
  display: none;
}
.overview-peer-index-wrap-box .search-flter-box-wrap {
  width: 100%;
  background-color: #fff;
  border-radius: 0.8rem;
  margin: 1rem 0rem;
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 1.6rem;
  padding: 1rem;
}
@media only screen and (max-width: 42em) {
  .overview-peer-index-wrap-box .search-flter-box-wrap {
    gap: unset;
  }
}
.overview-peer-index-wrap-box .search-flter-box-wrap .form-group__black-light .input-group,
.overview-peer-index-wrap-box .search-flter-box-wrap .form-group__black-light .react-select-class > *:nth-child(3) {
  border-color: #eeeeee;
  background-color: transparent;
  border-width: 0.15rem;
}
.overview-peer-index-wrap-box .search-flter-box-wrap .form-group__black-light .input-group .focus-border,
.overview-peer-index-wrap-box .search-flter-box-wrap .form-group__black-light .react-select-class > *:nth-child(3) .focus-border {
  border-color: var(--primary-color);
}
.overview-peer-index-wrap-box .search-flter-box-wrap .form-group__black-light .input-group .form-input,
.overview-peer-index-wrap-box .search-flter-box-wrap .form-group__black-light .react-select-class > *:nth-child(3) .form-input {
  background-color: transparent;
}
.overview-peer-index-wrap-box .search-flter-box-wrap .filter-box {
  width: 30rem;
}
@media only screen and (max-width: 42em) {
  .overview-peer-index-wrap-box .search-flter-box-wrap .filter-box {
    display: none;
  }
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap::-webkit-scrollbar {
  display: none;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .title {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0rem;
  color: #1e1e1e;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap {
  flex: 1;
  overflow-y: scroll;
  display: flex;
}
@media only screen and (max-width: 75em) {
  .overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap {
    flex-direction: column;
    gap: 2rem;
  }
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap::-webkit-scrollbar {
  display: none;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box {
  width: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 5rem;
  position: relative;
  transition: all 0.3s ease-in-out;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
@media only screen and (max-width: 75em) {
  .overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box {
    width: 100%;
    padding-bottom: 0rem;
    order: 1;
  }
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box::-webkit-scrollbar {
  width: 0.5rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  background-color: transparent !important;
  border: 0.15rem solid #cccccc;
  padding: 1rem;
  border-radius: 1rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box::-webkit-scrollbar-thumb {
  background: #9b9a9a;
  border-radius: 30rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box::-webkit-scrollbar-thumb {
  background: #9b9a9a;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box > * {
  background-color: #fff;
  border-radius: 1.2rem;
  padding: 1.2rem;
  padding: 0.8rem;
  padding-bottom: 2rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .profile-card-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .profile-card-box .map-avatar-box {
  height: 19rem;
  width: 100%;
  position: relative;
  margin-bottom: 8rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .profile-card-box .map-avatar-box .avatar-box {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  border: 0.15rem solid #f0f0f0;
  padding: 0.6rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .profile-card-box .map-avatar-box .avatar-box .inner-wrap {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: #fafafa;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .profile-card-box .map-avatar-box .map-box {
  background-color: #fafafa;
  width: 100%;
  height: 100%;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  border: 0.15rem solid #f0f0f0;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .profile-card-box .content-description-box-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .profile-card-box .content-description-box-wrap .name {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .profile-card-box .content-description-box-wrap .region-des-box {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  justify-content: center;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .profile-card-box .content-description-box-wrap .region-des-box .badge {
  background-color: #f1f4fc;
  border-radius: 0.8rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .profile-card-box .content-description-box-wrap .region-des-box .badge span {
  color: #a8afb7;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .profile-card-box .content-description-box-wrap .btn-action-box-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .profile-card-box .content-description-box-wrap .btn-action-box-wrap .btn {
  padding: 1.1rem 2rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .profile-card-box .content-description-box-wrap .btn-action-box-wrap .btn-outline {
  background-color: transparent !important;
  border: 0.15rem solid #e9e9e9;
  color: #939699;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .profile-card-box .content-description-box-wrap .btn-action-box-wrap .action-wrap {
  width: 4rem;
  height: 4rem;
  border-radius: 0.8rem;
  border: 0.15rem solid #e9e9e9;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .profile-card-box .content-description-box-wrap .about-text {
  font-size: 1.4rem;
  text-align: left;
  color: #8e8e90;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .profile-card-box .content-description-box-wrap .peer-follower-box-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .profile-card-box .content-description-box-wrap .peer-follower-box-wrap > *:first-child {
  border-right: 0.15rem solid #e9e9e9;
  padding-right: 2rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .profile-card-box .content-description-box-wrap .peer-follower-box-wrap .label-value-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .profile-card-box .content-description-box-wrap .peer-follower-box-wrap .label-value-box .label {
  font-size: 1.65rem;
  color: #9e9fa3;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .profile-card-box .content-description-box-wrap .peer-follower-box-wrap .label-value-box .value {
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .education-about-box-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .education-about-box-wrap .education-wrap-box {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .education-about-box-wrap .education-wrap-box .title {
  font-size: 2rem;
  font-weight: 600;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .education-about-box-wrap .education-wrap-box .edu-info-box {
  background-color: #fafafa;
  padding: 1rem;
  border: 0.15rem solid #f0f0f0;
  border-radius: 0.8rem;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .education-about-box-wrap .education-wrap-box .edu-info-box .left-box {
  border-radius: 0.8rem;
  background-color: #7a9cf4;
  width: 4rem;
  height: 4rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .education-about-box-wrap .education-wrap-box .edu-info-box .right-box {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .education-about-box-wrap .education-wrap-box .edu-info-box .right-box .title-edu {
  font-size: 2rem;
  font-weight: 600;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .education-about-box-wrap .education-wrap-box .edu-info-box .right-box .specialization,
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .education-about-box-wrap .education-wrap-box .edu-info-box .right-box .date,
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .education-about-box-wrap .education-wrap-box .edu-info-box .right-box .degree {
  font-size: 1.3rem;
  color: #a9adb2;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .education-about-box-wrap .about-wrap-box {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .education-about-box-wrap .about-wrap-box .title {
  font-size: 2rem;
  font-weight: 600;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .education-about-box-wrap .about-wrap-box .text {
  font-size: 1.35rem;
  color: #a9adb2;
  margin-top: -0.5rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .education-about-box-wrap .metrics-card-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .education-about-box-wrap .metrics-card-wrap .metric-box {
  background-color: #fafafa;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 0.15rem solid #f0f0f0;
  gap: 1rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .education-about-box-wrap .metrics-card-wrap .metric-box .percent {
  font-size: 1.25rem;
  color: #8ccbae;
  font-weight: 500;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .education-about-box-wrap .metrics-card-wrap .metric-box .value {
  font-size: 2rem;
  font-weight: 600;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .education-about-box-wrap .metrics-card-wrap .metric-box .icon-text-box {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .education-about-box-wrap .metrics-card-wrap .metric-box .icon-text-box .text {
  font-weight: 1.3rem;
  color: #aeb0b6;
  margin-top: -0.5rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .education-about-box-wrap .metrics-card-wrap .metric-box .icon-text-box .icon-wrap {
  width: 1.2rem;
  height: 1.2rem;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .education-about-box-wrap .metrics-card-wrap .metric-box .icon-text-box .icon-wrap .img-box {
  width: 100%;
  height: 100%;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box .education-about-box-wrap .metrics-card-wrap .metric-box .icon-text-box .icon-wrap .img-box svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box-show {
  width: 53rem;
  margin-right: 1rem;
  padding-right: 1rem;
}
@media only screen and (max-width: 75em) {
  .overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .profile-content-box-show {
    width: 100%;
  }
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .map-container-wrapper {
  width: 100%;
  overflow: scroll;
  position: relative;
  border-radius: 1.2rem;
}
@media only screen and (max-width: 75em) {
  .overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .map-container-wrapper {
    flex: unset;
    height: 60vh;
  }
}
.overview-peer-index-wrap-box .down-profile-content-box-wrap .content-two-box-wrap .map-container-wrapper > * {
  position: absolute;
  top: 0%;
  left: 0%;
}/*# sourceMappingURL=OverviewIndex.css.map */